.container{
    width: 1110px;
    margin: 0 auto;
}
.list{
    display: flex;
}
.adorable{
    margin-left: 80px;
}
.mood{
    display: flex;
}
.mood img{
    border-radius: 50%;
    padding-right: 100px;
}
h1{
    color: blue;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

p:first-child:first-letter {
  color: #903;
  float: left;
  font-family: Georgia;
  font-size: 75px;
  line-height: 60px;
  padding-top: 4px;
  padding-right: 8px;
  padding-left: 3px;
}

body {
    color: green;
}
